:root {
    --text-color: #FDFDFD;
    --off-white: #EBEBEB;
    --royal-blue: #001BBA;
    --orange: #FF502C;
    --pink: #F0AFD8;
    --yellow: #EBBF41;
    --green: #61D2AF;
    --green-light: #93DEC7;
    --green-dark: #5BB297;
    --green-ultralight: #BDF5E2;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

@font-face {
    font-family: PPMORI;
    src: url(fonts/PPMori-Regular.otf) format('opentype');
}

body {
    font-family: "PPMORI";
    margin: 0;
    padding: 0;
    height: 1000vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.hero {
    height: 200vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--text-color);
    overflow: hidden;
    background: var(--royal-blue);
    transition: background-color 0.3s ease;
}

.main-title {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "salted";
    font-size: 9vw;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.2;
}

@media (max-width: 768px) and (min-resolution: 250dpi) and
(orientation: portrait) {
    .main-title {
        font-size: 18vw;
        max-width: 64vw;
        word-break: break-all;
        gap: 2vw;
    }
}

.subtitle {
    font-size: 1.5vw;
}

@media (max-width: 768px) and (min-resolution: 250dpi) and
(orientation: portrait) {
    .subtitle {
        font-size: 3.5vw;
        max-width: 60vw;
        line-height: 1.6;
        word-break: break-all;
    }
}

.squiggle-line-1 {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100vw;
    height: auto;
    stroke: var(--orange);
    stroke-width: 12;
    stroke-linecap: round;
}

.scroll-indicator {
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 90vh;
    gap: 16px;
}

@media (max-width: 768px) and (min-resolution: 250dpi) and
(orientation: portrait) {
    .scroll-indicator {
        margin-top: 85vh;
    }
}


.telling-italic {
    font-style: italic;
}

.ornament-spinning {
    animation: rotate 0.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.block-1 {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    text-align: center;
    font-weight: 600;
    line-height: 100%;
    font-size: 6vw;
    color: var(--text-color);
    overflow: hidden;
    scroll-snap-align: center;
    transition: background-color 0.3s ease;
}

.move-text-1 {
    position: relative;
    text-transform: uppercase;
    transform-origin: center;
    overflow: hidden;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
}

.top-text {
    transform: translateY(-100%);
    overflow: hidden;
}

.bottom-text {
    transform: translateY(100%);
    overflow: hidden;
}

.combines {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 2vw;
}

.with {
    text-transform: lowercase;
    font-weight: 200;
    font-size: 2vw;
}

.block-2 {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background-color: var(--pink);
    text-align: center;
    overflow: hidden;
    color: var(--text-color);
    font-size: 1.5vw;
    text-transform: uppercase;
}

.message-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 1vw;
    border-radius: 3rem;
    opacity: 1;
    transform: translateY(-1em);
}

.message-bubble-orange {
    background-color: var(--orange);
}

.message-bubble-yellow {
    background-color: var(--yellow);
}

.message-bubble.visible {
    opacity: 1;
    transform: none;
}

.block-3 {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
}

.explanation-1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--text-color);
    z-index: 2;
}

.squiggle-line {
    stroke: var(--orange);
    stroke-width: 12;
    stroke-linecap: round;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    position: absolute;
    top: 380%;
    left: -40%;
    stroke-width: 0.8rem;
    z-index: 0;
}
