:root {
    --text-color: #FDFDFD;
    --off-white: #EBEBEB;
    --royal-blue: #001BBA;
    --orange: #FF502C;
    --pink: #F0AFD8;
    --yellow: #EBBF41;
    --green: #61D2AF;
    --green-light: #93DEC7;
    --green-dark: #5BB297;
    --green-ultralight: #BDF5E2;
}

@font-face {
    font-family: PPMORI;
    src: url(fonts/PPMori-Regular.otf) format('opentype');
}

@font-face {
    font-family: PPSUPPLY;
    src: url(fonts/PPSupplyMono-Regular.otf) format('opentype');
}

@font-face {
    font-family: AALTO;
    src: url(fonts/Aalto-Display-Personal-use.otf) format('opentype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PPSUPPLY', sans-serif;
    -webkit-font-smoothing: antialiased;
}

p {
    font-family: 'PPMORI';
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    color: var(--text-color);
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    overflow: scroll;
}

.scroll_container {
    position: relative;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Hero */

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--off-white);
    color: var(--royal-blue);
}

.hero__container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.hero__title {
    overflow: hidden;
}

.hero__title h1 {
    overflow: hidden;
    text-align: center;
    font-size: 15cqi;
}

.hero__title__header {
    font-size: clamp(5rem, 15cqi, 20rem);
    font-family: 'AALTO';
    text-align: center;
}

.hero__cta h4 {
    font-size: clamp(2rem, 1.4cqi);
    font-weight: 100;
    text-align: center;
    text-wrap: nowrap;
}

.indicator__container {
    display: flex;
    flex-direction: row;
    width: 16%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

@media screen {
    .mouse__indicator {
        display: none;
    }
}

/* Explanation 1 */

#explanation__circle {
    position: relative;
    width: 100%;
    height: 200vh;
    background-color: var(--off-white);
}

.circle__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 150vmax;
    height: 150vmax;
    background-color: var(--orange);
    border-radius: 50%;
}

.circle__sticky h2 {
    font-size: clamp(2rem, 5cqi, 20rem);
    color: #000000;
    z-index: 1;
    text-align: center;
    color: var(--off-white);
}

.transform__text {
    font-size: clamp(1rem, 2cqi, 10rem);
}

/* Explanation 2 */

#explanation__two {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
}

.explanation__tow__text__container {
    text-align: center;
    color: var(--off-white);
}

.explanation__tow__text__container p {
    font-size: 2em;
    text-wrap: balance;
}

/* Video */

#scale__example {
    display: flex;
    justify-content: center;
    min-height: 200vh;
    background-color: var(--orange);
}

.shim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(.5);
    will-change: transform;
}

/* Explanation 3 */

#explanation__three {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
}

.explanation__three__text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5rem;
}

.explanation__three__text__container p {
    font-family: 'PPMORI';
}

.text__reveal {
    display: block; /* Ensure block layout for multi-line text */
    overflow: hidden; /* Prevent overflow during animation */
}

.line {
    display: block; /* Ensure each line is treated as a block */
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

/* Graph */

#engagement__graph {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink);
    overflow: hidden;
}

.graph__container {
    width: 100%;
    height: auto;
}

.graph__base {
    width: 100%;
    height: auto;
}

.bar__normal {
    width: 8%;
    height: auto;
    position: absolute;
    top: 52%;
    left: 38.5%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.bar__scrolly {
    width: 8%;
    height: auto;
    position: absolute;
    top: 38.75%;
    left: 59%;
    transform: translate(-50%, -50%);
}

#graph__rect {
    transform-origin: bottom;
}
/* Examples Gallery */

#examples__gallery {
    position: relative;
    height: 200%;
    background-color: var(--green);
}

.header__container {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
}

.header__container h2 {
    padding-top: 20%;
    font-size: 18cqi;
}

.examples__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50%;
}

.examples__slider {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    will-change: transform;
}

.example {
    position: relative;
    width: 100%;
    margin: 20vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: 100%;
    
}

.example__video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.example__title {
    margin-block-start: 0; /* Override the default start margin */
    margin-block-end: 0;   /* Override the default end margin */
    margin-top: .01em !important;
    text-align: center;
}

.example p {
    font-size: 1.4rem;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .header__container h2 {
        padding-top: 90%;
    }

    .example {
        width: 90%;
    }
}   

/* Implement */

#implement {
    position: relative;
    height: 200vh;
    width: 100%;
    background-color: var(--green);
}

#question {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question p {
    font-size: 1.5em;
}